<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="navbar-header">
    <a href="/" class="brand">Falkland CMS</a>
  </div>

  <ul class="nav navbar-nav navbar-right">
    <li>
      <a href="https://www.mozilla.org/MPL/2.0/">
        <img alt="MPL License" src="http://img.shields.io/badge/license-MPL-green.svg?style=flat">
      </a>
    </li>

    <li>
      <a href="https://travis-ci.org/SnootyMonkey/Falkland-CMS">
        <img alt="Build Status" src="http://img.shields.io/travis/SnootyMonkey/Falkland-CMS.svg?style=flat">
      </a>
    </li>

    <li>
      <a href="https://trello.com/b/UgzPjFAX/falkland-cms">
        <img alt="Roadmap on Trello" src="http://img.shields.io/badge/roadmap-trello-blue.svg?style=flat">
      </a>
    </li>

    <li>
      <a href="https://github.com/SnootyMonkey/Falkland-CMS">
        <button type="button" class="btn btn-xs btn-primary"><i class="fa fa-github-alt"></i> GitHub Repository</button>
      </a>
    </li>

    <li class="github-nav">
      <iframe src="http://ghbtns.com/github-btn.html?user=SnootyMonkey&repo=Falkland-CMS&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="80" height="30"></iframe>
    </li>

  </ul>

</nav>