<head>
    <!-- metadata -->
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}}{% else %}Falkland CMS - collect, curate, organize, and present knowledge{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}<meta name="description" content="{{page.description}}">{% endif %}
    {% if page.author %}<meta name="author" content="{{page.author}}">{% endif %}
    
    <!-- compiled and minified css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <!-- custom css -->
    <link rel="stylesheet" href="{{site.url}}/assets/css/custom.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="{{site.url}}assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.url}}assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.url}}assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.url}}assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{site.url}}assets/ico/apple-touch-icon-57-precomposed.png">

    <!-- web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Vast+Shadow|Varela' rel='stylesheet' type='text/css'>
</head>