<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="navbar-header">
    <a href="/" class="brand">Falkland CMS</a>
  </div>

  <ul class="nav navbar-nav navbar-right">
    <li>
      <a href="https://travis-ci.org/SnootyMonkey/Falkland-CMS">
        <img alt="Build Status" src="https://travis-ci.org/SnootyMonkey/Falkland-CMS.png?branch=master">
      </a>
    </li>
    <li> 
      <a href="https://trello.com/b/UgzPjFAX/falkland-cms">
        <img alt="Development on Trello" src="http://snooty-monkey-open-images.s3.amazonaws.com/managed_on_trello.jpg">
      </a>
    </li>
    <li class="github-nav">
      <iframe src="http://ghbtns.com/github-btn.html?user=SnootyMonkey&repo=Falkland-CMS&type=fork"
  allowtransparency="true" frameborder="0" scrolling="0" width="65" height="30"></iframe>
    </li>
    <li class="github-nav">
      <iframe src="http://ghbtns.com/github-btn.html?user=SnootyMonkey&repo=Falkland-CMS&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="80" height="30"></iframe>
    </li>
    <li class="github-nav">
      <iframe src="http://ghbtns.com/github-btn.html?user=SnootyMonkey&type=follow"
  allowtransparency="true" frameborder="0" scrolling="0" width="160" height="30"></iframe>
    </li>
  </ul>

</nav>