<ul data-spy="affix" class="nav nav-pills nav-stacked">

	<li class="nav-header">Falkland CMS</li>
	<li><a href="/">Introduction</a></li>
	
	<li class="nav-header">Key Concepts</li>
	<li><a href="key-concepts.html">Resources</a></li>
	<li><a href="key-concepts.html#pages">Pages</a></li>
	<li><a href="key-concepts.html#search">Search / Navigation</a></li>
	<li><a href="key-concepts.html#security">Security</a></li>

	<li class="nav-header">Deployment</li>
	<li><a href="installation.html#heroku">Quick-Start Guide</a></li>
	<li><a href="installation.html#local">Local Installation</a></li>

	<li class="nav-header">Usage</li>
	<li><a href="command-line.html">Command-line UI</a></li>
	<li><a href="web.html">Web UI</a></li>

	<li class="nav-header">Developers</li>
	<li><a target="_rest_api" href="http://falkland-cms-api.readthedocs.org/">REST API</a></li>
	<li><a target="_clojure_api" href="API/Clojure/index.html">Clojure API</a></li>

	<li class="nav-header">Sundry</li>
	<li><a href="index.html#status">Status &amp; Roadmap</a></li>
	<li><a href="contributing.html">Contributing</a></li>
	<li><a href="changelog.html">Change Log</a></li>
	<li><a href="index.html#license">License</a></li>
	<li><a href="index.html#help">Getting Help</a></li>

</ul>